<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css" type="text/css">
	<style type="text/css">
		body {
			font-family: Arial;
			background-color: #3498DB;
			color: white;
		}

		.img{
			height: 275px;
			width: 275px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<ul class="nav navbar-nav">
		  <li class="active"><a href="/">Home</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="/logout" ><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
		</ul>
	  </div>
	</nav>

	<h1 class="text-center">Welcome</h1>
	<div class="container dynamicTile">
		<div class="row ">
    		<div class="col-lg-6 col-md-6 col-xs-6 text-center">
    			<div class="item active">
               		<img class="img" src="/static/search.png" class="img-responsive"/>
            	</div>
            	<h1>Search Books</h1>
        	</div>
         
    	</div>
	</div>
</div>

</body>
</html>