<!DOCTYPE html>
<html lang="en">
 
<head>
	<title>Book Sharing Application</title> 
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-theme.css" type="text/css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css">
	<!-- <link rel="stylesheet" href="/static/style.css" type="text/css"> -->
	<style type="text/css">
		body{
			color: white
		}
		.jumbotron{
			margin-bottom: 0px;
			margin-left: 3.5em;
			margin-top: 0px
			color: white;
  			text-shadow: black 0.3em 0.3em 0.3em;
			background:transparent;
		}

	</style>
</head>
 
<body style="font-family: Arial; background-color: #3498DB;">
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<ul class="nav navbar-nav">
		  <li class="active"><a href="#">Home</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="showSignUp"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		  <li><a href="signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
		</ul>
	  </div>
	</nav>


	<h1 class="text-center">Book Sharing Application</h1>

	<div class="container">
		<div class="jumbotron">
			<div class="container">
			<img src="/static/books.jpg" class="img-rounded" alt="Cinque Terre">
			<p><a class="btn btn-lg btn-info" href="showSignUp" role="button" style="margin-left: 360px; margin-top: 10px">Sign up today</a>
			</div>
		</div>
		
	</div>

	<footer class="footer">
		<p>Made By - Ahmad Shayaan, Pranav S, Viajya Sindu</p>
	</footer>


</body>
 
</html>