<form action="/changePassword" method="POST">
	<div>
		<div>
			<div>
				<div >
					<input type="password" class="login-field" value="" placeholder="Old Password" name="opassword">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<div >
					<input type="password" class="login-field" value="" placeholder="New Password" name="npassword">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<div >
					<input type="password" class="login-field" value="" placeholder="Re-enter Password" name="rnpassword">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 					<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			</div>
		</div>
	</div>
</form>